<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>出库申请</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
    <link rel="stylesheet" href="/static/js/lay-module/step-lay/step.css" media="all">
</head>
<style>
    .custom-input {
        text-align: left;  /* 使内容左对齐 */
        font-weight: bold;
    }
</style>

<!--<script>-->
<!--    function handleSubLocationChange(selectedValue) {-->
<!--        if (selectedValue === "单能线") {-->
<!--            document.getElementById('subLocationContainer').innerHTML = `-->
<!--            <label class="layui-form-label">产线:</label>-->
<!--            <div class="layui-input-block">-->
<!--                <select name="subLocation" class="layui-select">-->
<!--                    <option value="A线">A线</option>-->
<!--                    <option value="B线">B线</option>-->
<!--                    <option value="C线">C线</option>-->
<!--                    <option value="D线">D线</option>-->
<!--                    <option value="E线">E线</option>-->
<!--                    <option value="G线">G线</option>-->
<!--                    <option value="H线">H线</option>-->
<!--                    <option value="I线">I线</option>-->
<!--                    <option value="K线">K线</option>-->
<!--                    <option value="L线">L线</option>-->
<!--                    <option value="M线">M线</option>-->
<!--                    <option value="N线">N线</option>-->
<!--                    <option value="O线">O线</option>-->
<!--                    <option value="P线">P线</option>-->
<!--                    <option value="Q线">Q线</option>-->
<!--                    <option value="R线">R线</option>-->
<!--                    <option value="S线">S线</option>-->
<!--                    <option value="T线">T线</option>-->
<!--                    <option value="U线">U线</option>-->
<!--                    <option value="V线">V线</option>-->
<!--                </select>-->
<!--            </div>-->
<!--        `;-->
<!--            form.render('select'); // 重新渲染子选择框-->
<!--        } else {-->
<!--            // 如果选择的不是“单能线”，则清空子选择框-->
<!--            document.getElementById('subLocationContainer').innerHTML = '';-->
<!--        }-->
<!--    }-->
<!--</script>-->
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-fluid">
            <div class="layui-card">
                <div class="layui-card-body" style="padding-top: 40px;">
                    <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
                        <div carousel-item>
                            <div>
                                <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">品名:</label>
                                        <div class="layui-input-block">
                                            <input name="mname" type="text" id="materialSelect" placeholder="请填写品名" readonly class="layui-input" lay-verify="required"  />
                                            <input name="atId" type="hidden" id="atIdSelect" />
                                            <input name="depositoryId" type="hidden" id="depositorySelect" />
                                            <input name="enginName" type="hidden" id="enginSelect" />
                                            <input name="typeName" type="hidden" id="typeSelect" />
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">规格:</label>
                                        <div class="layui-input-block">
                                            <input name="model" type="text" id="modelSelect" placeholder="相关规格" readonly class="layui-input"/>                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">数量:</label>
                                        <div class="layui-input-block">
                                            <input name="quantity" type="number" placeholder="请填写数量" value="" class="layui-input" lay-verify="number" required>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">出库单价(CNY):</label>
                                        <div class="layui-input-block">
                                            <input name="price" id="price" type="number" placeholder="请填写出库单价" value="" class="layui-input" lay-verify="number" required>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">出库类型:</label>
                                        <div class="layui-input-block">
<!--                                            <select name="applyRemark" class="layui-select" lay-filter="applyRemarkFilter">-->
<!--                                                <option value="领用出库">领用出库</option>-->
<!--                                                <option value="销售出库">销售出库</option>-->
<!--                                            </select>-->
                                            <button name="applyRemark" class="layui-input custom-input" id="ID-dropdown-demo-complex">
                                                选择出库类型
                                            </button>
                                            <input type="hidden" name="applyRemark" id="applyRemarkInput" value="">
                                        </div>
                                    </div>
                                    <div class="layui-form-item" id="outLocationContainer"></div>
                                    <div class="layui-form-item" id="subLocationContainer"></div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">出库日期:</label>
                                        <div class="layui-input-block">
                                            <input name="applyTime" type="text" id="storageDate" class="layui-input" placeholder="(此空不填，则提交当前时间)">
                                        </div>
                                    </div>
                                    <div class="layui-form-item" style="display:none">
                                        <label class="layui-form-label">审核人:</label>
                                        <div class="layui-input-block" >
                                            <select name="reviewerId" lay-verify="required">
                                                <option th:each="reviewer,iterStat:${reviewers}" th:value="${reviewer?.getId()}" th:text="${reviewer?.getUname()}" selected>张三</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" lay-submit lay-filter="formStep">
                                                &emsp;提交&emsp;
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>
                                <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                                    <div style="text-align: center;margin-top: 90px;">
                                        <i class="layui-icon layui-circle"
                                           style="color: white;font-size:30px;font-weight:bold;background: #52C41A;padding: 20px;line-height: 80px;">&#xe605;</i>
                                        <div style="font-size: 24px;color: #333;font-weight: 500;margin-top: 30px;">
                                            提交申请成功
                                        </div>
                                        <div style="font-size: 14px;color: #666;margin-top: 20px;">预计审核时间为1天</div>
                                    </div>
                                    <div style="text-align: center;margin-top: 50px;">
                                        <button  class="layui-btn next">返回</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div style="color: #666;margin-top: 30px;margin-bottom: 40px;padding-left: 30px;">
                    <h3>说明</h3><br>
                    申请提交后，24小时内审核完毕
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="/static/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/http_ajax.googleapis.com_ajax_libs_jquery_3.5.1_jquery.js" charset="utf-8"></script>
<script>
    var dropDataSAB = [
        {
            title: 'SAB领用出库',
            child: [
                { title: '切断（圆锯机）' },
                { title: '切断（冷锯机）' },
                { title: '冲床' },
                { title: '生研GA' },
                { title: '生研CE' },
                { title: '刻印' },
                { title: 'N沟' },
                {
                    title: '单能线',
                    child: [
                        { title: 'A线' },
                        { title: 'B线' },
                        { title: 'C线' },
                        { title: 'D线' },
                        { title: 'E线' },
                        { title: 'G线' },
                        { title: 'H线' },
                        { title: 'I线' },
                        { title: 'K线' },
                        { title: 'L线' },
                        { title: 'M线' },
                        { title: 'N线' },
                        { title: 'O线' },
                        { title: 'P线' },
                        { title: 'Q线' },
                        { title: 'R线' },
                        { title: 'S线' },
                        { title: 'T线' },
                        { title: 'U线' },
                        { title: 'V线' }
                    ]
                },
                { title: '磨刀房' },
                { title: '设备课' }
            ]
        },
        {
            title: '销售出库',
            child: [
                { title: '泰国旭' },
                { title: '日本旭' },
                { title: '合肥NSK' },
                { title: 'SAB' },
                { title: 'ZAB' }
            ]
        }
    ];
    var dropDataZAB = [
        {
            title: 'ZAB领用工程',
            child: [
                { title: '切断（圆锯机）' },
                { title: '切断（冷锯机）' },
                { title: '切管' },
                { title: '冲床' },
                { title: '生研GA' },
                { title: '生研CE' },
                { title: '刻印' },
                { title: 'N沟' },
                {
                    title: '单能线A-E',
                    child: [
                        { title: 'A1线' },
                        { title: 'A2前线' },
                        { title: 'A2后线' },
                        { title: 'B1线' },
                        { title: 'B2线' },
                        { title: 'C1线' },
                        { title: 'C2线' },
                        { title: 'D1线' },
                        { title: 'D2线' },
                        { title: 'E线' },
                        { title: 'E1线' },
                        { title: 'E2线' }
                    ]
                },
                {
                    title: '单能线F-I',
                    child: [
                        { title: 'F线' },
                        { title: 'G线' },
                        { title: 'J线' },
                        { title: 'M线' },
                        { title: 'N线' },
                        { title: 'O线' },
                        { title: 'P线' },
                        { title: 'Q线' },
                        { title: 'R线' },
                        { title: 'I线' }
                    ]
                },
                {
                    title: '单能线T-W',
                    child: [
                        { title: 'TA线' },
                        { title: 'TB线' },
                        { title: 'UA线' },
                        { title: 'UB线' },
                        { title: 'VA线' },
                        { title: 'VB线' },
                        { title: 'WA线' },
                        { title: 'WB线' }
                    ]
                },
                {
                    title: '数控NC',
                    child: [
                        { title: '4#机' },
                        { title: '5#机' },
                        { title: '6#机' },
                        { title: '7#机' },
                        { title: '8#机' },
                        { title: '9#机' },
                        { title: '10#机' },
                        { title: '13#机' }
                    ]
                },
                { title: '检测' },
                { title: '磨刀房' },
                { title: '设备课' },
                { title: '金加工' },
                { title: '大修组' }
            ]
        },
        {
            title: '销售出库',
            child: [
                { title: '泰国旭' },
                { title: '日本旭' },
                { title: '合肥NSK' },
                { title: 'SAB' },
                { title: 'ZAB' }
            ]
        }
    ];
    var depositoryMapping = {
        'SAB': 1, // 你的实际映射
        'ZAB': 2,
    };
    layui.use([ 'form', 'step', 'tableSelect', 'laydate'], function () {
        var $ = layui.$,
            form = layui.form,
            step = layui.step,
            tableSelect = layui.tableSelect,
            laydate = layui.laydate,
            dropdown = layui.dropdown,
            util = layui.util;
        laydate.render({
            elem: '#storageDate',
            type: 'datetime',  // 允许用户选择日期和时间
            format: 'yyyy-MM-dd HH:mm:ss'  // 显示的日期时间格式
        });
        step.render({
            elem: '#stepForm',
            filter: 'stepForm',
            width: '100%', //设置容器宽度
            stepWidth: '750px',
            height: '600px',
            stepItems: [{
                title: '填写'
            },
                {
                title: '出库'
            },
                {
                title: '完成'
            }]
        });
        form.on('submit(formStep)', function (data) {
            data = data.field;
            data.type = 0;
            data.state = 0;
            // if (data.applyRemark === '领用出库') {
            //     data.applyRemark += ': ' + data.outLocation;
            // } else if (data.applyRemark === '销售出库') {
            //     data.applyRemark += ': ' + data.outLocation;
            // }
            var url = '/OutdepositoryRecord'; // 统一URL
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(data),
                beforeSend: function () {
                    this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                },
                success: function (data) {
                    layer.close(this.layerIndex);
                    if (data.status >= 300) {
                        layer.msg(data.statusInfo.message);//失败的表情
                        return;
                    } else {
                        layer.msg("出库成功！", {
                            icon: 6, //成功的表情
                            time: 1000//1秒关闭（如果不配置，默认是3秒）
                        }, function () {
                            location.reload(); // 关闭所有父页面的弹窗
                        });
                    }
                },
                complete: function () {
                    layer.close(this.layerIndex);
                }
            })
            return false;
        });
        var userDepositoryId;
        $.ajax({
            url: '/get_user_depository',
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                let pp;
                var userDepositoryId = data.depositoryId;
                // 如果depositoryId为0，则允许访问两个厂区
                if (userDepositoryId === 0) {
                    pp = '/material';
                } else {
                    pp = '/material?depositoryId=' + userDepositoryId;
                }
                function resetOutTypeDropdown() {
                    // 清除旧的出库类型下拉列表
                    document.getElementById('ID-dropdown-demo-complex').innerHTML = '';
                }

                function loadOutTypeDropdown(depositoryId) {
                    if (depositoryId === '1') {
                        setParentForChild(dropDataSAB);
                        loadDepositoryData(dropDataSAB);
                    } else if (depositoryId === '2') {
                        setParentForChild(dropDataZAB);
                        loadDepositoryData(dropDataZAB);
                    }
                }
            tableSelect.render({
                elem: '#materialSelect', // 定义输入框input对象
                checkedKey: 'id', // 表格的唯一建值
                searchType: 'more',
                searchList : [
                    {searchKey: 'atId', searchPlaceholder: "搜索AT号"},
                    {searchKey: 'mname', searchPlaceholder: "搜索品名"},
                ],
                table: { // 定义表格参数
                    url: pp, // 你的数据源URL
                    parseData: function (res) { //res 即为原始返回的数据
                        return {
                            "status": res.status, //解析接口状态
                            "message": res.statusInfo.message, //解析提示文本
                            "count": res.count, //解析数据长度
                            "data": res.data //解析数据列表
                        };
                    },
                    request: {
                        pageName: 'page', //页码的参数名称，默认：page
                        limitName: 'size' //每页数据量的参数名，默认：limit
                    },
                    response: {
                        statusName: 'status' //规定数据状态的字段名称，默认：code
                        ,statusCode: 200 //规定成功的状态码，默认：0
                        ,msgName: 'message' //规定状态信息的字段名称，默认：msg
                        ,countName: 'count' //规定数据总数的字段名称，默认：count
                        ,dataName: 'data' //规定数据列表的字段名称，默认：data
                    },
                    cols: [ [
                        {type: 'radio'},
                        {field: 'depositoryName',  title: '厂区', sort: true},
                        {field: 'atId', title: 'AT号'},
                        {field: 'mname',  title: '品名'},
                        {field: 'model', title: '规格'},
                        {field: 'typeName',  title: '分类'},
                        {field: 'enginName',title: '工程',  sort: true },
                        {field: 'unitPrice',title: '单价'},
                    ]]
                },

                done: function (elem, data) {
                    // 获取选中的数据
                    var selectedData = data.data[0];
                    // 设置品名输入框的值
                    $('#materialSelect').val(selectedData.mname);
                    $('#atIdSelect').val(selectedData.atId);
                    $('#price').val(selectedData.unitPrice);
                    $('#modelSelect').val(selectedData.model);
                    $('#enginSelect').val(selectedData.enginName);
                    $('#typeSelect').val(selectedData.typeName);
                    var depositoryId = depositoryMapping[selectedData.depositoryName];
                    $('#depositorySelect').val(depositoryId);
                    // 重新渲染表单
                    layui.form.render('select');
                    var selectedDepositoryId = $('#depositorySelect').val();
                    resetOutTypeDropdown();
                    loadOutTypeDropdown(selectedDepositoryId);
                }
            });
        },
        error: function() {
        // 处理错误，例如显示一个消息
        layer.msg('无法获取用户的厂区信息');
        }
    });
        form.on('submit(formStep2)', function (data) {
            step.next('#stepForm');
            return false;
        });
        function setParentForChild(data) {
            for (let i = 0; i < data.length; i++) {
                if (data[i].child) {
                    for (let j = 0; j < data[i].child.length; j++) {
                        data[i].child[j].parent = data[i];
                    }
                    setParentForChild(data[i].child);
                }
            }
        }
        function loadDepositoryData(dropdownData) {
            dropdown.render({
                elem: '#ID-dropdown-demo-complex',
                data: dropdownData,
                click: function(item) {
                    let path = item.title;
                    let currentItem = item;
                    while (currentItem.parent) {
                        path = currentItem.parent.title + "-" + path;
                        currentItem = currentItem.parent;
                    }
                    document.getElementById('ID-dropdown-demo-complex').innerText = path;
                    document.getElementById('applyRemarkInput').value = path;
                }
            });
        }
        // function handleOutTypeChange(selectedValue) {
        //     if(selectedValue === '领用出库') {
        //         var outLocationSelect = `
        //         <label class="layui-form-label">领用地点:</label>
        //         <div class="layui-input-block">
        //             <select name="outLocation" class="layui-select" onchange="handleSubLocationChange(this.value)">
        //                 <option value="切断（圆锯机）">切断（圆锯机）</option>
        //                 <option value="切断（冷锯机）">切断（冷锯机）</option>
        //                 <option value="冲床">冲床</option>
        //                 <option value="生研GA">生研GA</option>
        //                 <option value="生研CE">生研CE</option>
        //                 <option value="刻印">刻印</option>
        //                 <option value="N沟">N沟</option>
        //                 <option value="单能线">单能线</option>
        //                 <option value="磨刀房">磨刀房</option>
        //                 <option value="设备课">设备课</option>
        //             </select>
        //         </div>`;
        //         document.getElementById('outLocationContainer').innerHTML = outLocationSelect;
        //         form.render('select'); // 重新渲染选择框
        //     } else if (selectedValue === '销售出库') {
        //         var outLocationSelect = `
        //         <label class="layui-form-label">销售方:</label>
        //         <div class="layui-input-block">
        //             <select name="outLocation" class="layui-select">
        //                 <option value="泰国旭">泰国旭</option>
        //                 <option value="日本旭">日本旭</option>
        //                 <option value="合肥NSK">合肥NSK</option>
        //                 <option value="SAB">SAB</option>
        //                 <option value="ZAB">ZAB</option>
        //             </select>
        //         </div>`;
        //         document.getElementById('outLocationContainer').innerHTML = outLocationSelect;
        //         form.render('select'); // 重新渲染选择框
        //     }
        // }
        //
        // form.on('select(applyRemarkFilter)', function(data){
        //     handleOutTypeChange(data.value);
        // });
        // window.onload = checkInitialOutType;
        // function checkInitialOutType() {
        //     var selectElem = document.querySelector('[name="applyRemark"]');
        //     handleOutTypeChange(selectElem.value);
        // }

        $('.pre').click(function () {
            step.pre('#stepForm');
        });

        $('.next').click(function () {
            step.next('#stepForm');
        });
    })
</script>
</body>
</html>