<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>申请记录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
    <script src="/static/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/http_ajax.googleapis.com_ajax_libs_jquery_3.5.1_jquery.js" charset="utf-8"></script>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
<!--        <fieldset class="table-search-fieldset">-->
<!--            <legend>搜索信息</legend>-->
<!--            <div style="margin: 10px 10px 10px 10px">-->
<!--                <form class="layui-form layui-form-pane" action="">-->
<!--                    <div class="layui-form-item">-->
<!--                        <div class="layui-inline">-->
<!--                            <label class="layui-form-label">日期</label>-->
<!--                            <div class="layui-input-block">-->
<!--                                <input type="text" name="applyTime" id="date"  placeholder="请选择起止日期"-->
<!--                                       autocomplete="off" class="layui-input">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="layui-inline">-->
<!--                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit-->
<!--                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </fieldset>-->
        <table class="layui-hide" id="taskTableId" lay-filter="taskTableFilter"></table>
        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="detail">审批</a>
        </script>
    </div>
</div>

<script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    var data= {};
    layui.use(['flow', 'layer', 'table', 'form', 'util', 'laydate'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            flow = layui.flow,
            table = layui.table,
            form = layui.form,
            laydate=layui.laydate;
            util = layui.util;
        laydate.render({
            elem: '#date',
            range: true
        });
        table.render({
            elem: "#taskTableId",
            url: "/myTask?isDone=0",
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    "status": res.status, //解析接口状态
                    "message": res.statusInfo.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            },
            request: {
                pageName: 'page', //页码的参数名称，默认：page
                limitName: 'size' //每页数据量的参数名，默认：limit
            },
            response: {
                statusName: 'status' //规定数据状态的字段名称，默认：code
                ,statusCode: 200 //规定成功的状态码，默认：0
                ,msgName: 'message' //规定状态信息的字段名称，默认：msg
                ,countName: 'count' //规定数据总数的字段名称，默认：count
                ,dataName: 'data' //规定数据列表的字段名称，默认：data
            },
            cols: [ [
                {field: 'id', title: '序号'},
                {field: 'applicantName', title: '申请人'},
                {field: 'applyRemark', title: '出/入库类型'},
                {field: 'atId', title: 'AT号'},
                {field: 'mname', title: '品名'},
                {field: 'model', title: '规格'},
                {field: 'quantity', title: '数量'},
                {field: 'applyTime', title: '申请时间'},
                {title: '操作 ', minWidth: 200, toolbar: '#currentTableBar', align: "center"}
                // 添加更多的列来匹配你的任务数据...
            ]],
            where: {
                type: "1"
            },
            limits: [10, 15, 20, 25, 50],
            limit: 10,
            page: true,
            skin: 'line'
        });

        form.on('submit(data-search-btn)', function (data) {
            var req={};
            data=data.field;
            req.type=1;
            if (data.applyTime!==''){
                var dates = data.applyTime.split(' - ');
                req.startDate = dates[0];
                req.endDate = dates[1];
            }
            table.reload('taskTableId', {
                url: "/myTask?isDone=0",
                page: {
                    curr: 1
                },
                where: req
            }, 'data');
            return false;
        });
        table.on('tool(taskTableFilter)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            var layerIndex;
            if (layEvent === 'detail') {
                layerIndex = layer.open({
                    title: '请求详情',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/application_review?id=' + data.id,
                    end: function() {
                        // 弹窗关闭后刷新当前页面
                        location.reload();
                    }
                });
                $(window).on("resize", function () {
                    layer.full(layerIndex);
                });
            }
        });

    });
</script>

</body>
</html>