<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
    <title>OnceFill Records</title>
</head>
<body>

<div class="layui-container">
    <h2>添加一次性部品</h2>
    <table class="layui-table" id="onceFillTable">
        <thead>
        <tr>
            <th>品名</th>
            <th>型号</th>
            <th>单价</th>
            <th>数量</th>
<!--            <th>总价</th>-->
            <th>领用部门</th>
            <th>日期</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <!-- 初始的一行数据输入 -->
        <tr>
            <td><input type="text" class="layui-input" name="name"></td>
            <td><input type="text" class="layui-input" name="model"></td>
            <td><input type="text" class="layui-input" name="unitPrice"></td>
            <td><input type="text" class="layui-input" name="quantity"></td>
<!--            <td><input type="text" class="layui-input" name="price" readonly></td>-->
            <td><input type="text" class="layui-input" name="applyRemark"></td>
            <td><input type="text" class="layui-input storageDate" name="time"></td>
            <td><button class="layui-btn layui-btn-xs layui-btn-danger delete-row">删除</button></td>
        </tr>
        </tbody>
    </table>

    <button class="layui-btn" id="addRow">添加条目</button>
    <button class="layui-btn" id="submitAll">提交所有</button>
</div>
<script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/http_ajax.googleapis.com_ajax_libs_jquery_3.5.1_jquery.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'layer', 'table', 'laydate','upload','jquery'], function() {
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var $ = layui.jquery;
        var upload = layui.upload;

        laydate.render({
            elem: '.storageDate',
        });
        $('#addRow').on('click', function() {
            var newRow = `<tr>
                <td><input type="text" class="layui-input" name="name"></td>
                <td><input type="text" class="layui-input" name="model"></td>
                <td><input type="text" class="layui-input" name="unitPrice"></td>
                <td><input type="text" class="layui-input" name="quantity"></td>
                <td><input type="text" class="layui-input" name="applyRemark"></td>
                <td><input type="text" class="layui-input storageDate" name="time"></td>
                <td><button class="layui-btn layui-btn-xs layui-btn-danger delete-row">删除</button></td>
            </tr>`;
            $('#onceFillTable tbody').append(newRow);
            laydate.render({
                elem: $('#onceFillTable tbody tr:last .storageDate')[0], // 选择最后一个.storageDate元素
            });
        });

        // 删除条目
        $('#onceFillTable').on('click', '.delete-row', function() {
            $(this).closest('tr').remove();
        });

        // 提交所有数据
        $('#submitAll').on('click', function() {
            var allData = [];
            // 收集所有行数据
            $('#onceFillTable tbody tr').each(function() {
                var row = {
                    name: $(this).find('input[name="name"]').val(),
                    model: $(this).find('input[name="model"]').val(),
                    unitPrice: $(this).find('input[name="unitPrice"]').val(),
                    quantity: $(this).find('input[name="quantity"]').val(),
                    price: $(this).find('input[name="price"]').val(),
                    applyRemark: $(this).find('input[name="applyRemark"]').val(),
                    time: $(this).find('input[name="time"]').val(),
                };
                allData.push(row);
            });

            // 为简单起见，我们只对第一行数据进行验证，您可以根据需要进行更复杂的验证
            if (parseFloat(allData[0].unitPrice) <= 0 || parseInt(allData[0].quantity) <= 0) {
                layer.msg('请输入正确的单价与数量');
                return;
            }

            var loadingIndex = layer.load(1);

            // 发送所有数据到服务器
            fetch('/api/onceFill/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(allData)
            })
                .then(response => {
                    // 关闭加载动画
                    layer.close(loadingIndex);

                    if (response.ok) {
                        layer.msg('添加成功！');
                        // 清除所有输入框的内容
                        $('#onceFillTable tbody tr').each(function() {
                            $(this).find('input[type="text"], input[type="date"]').val('');
                        });
                    } else {
                        layer.msg('Error: ' + response.statusText);
                    }
                })
                .catch(error => {
                    // 关闭加载动画
                    layer.close(loadingIndex);
                    layer.msg('Error: ' + error.message);
                });

        });
    });
</script>
</body>
</html>
