<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
    <title>OnceFill Records</title>
</head>
<body>

<div class="layui-container">
    <h2>添加一次性部品</h2>
    <table class="layui-table" id="onceFillTable">
        <thead>
        <tr>
            <th>品名</th>
            <th>型号</th>
            <th>单价</th>
            <th>数量</th>
<!--            <th>总价</th>-->
            <th>领用部门</th>
            <th>日期</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <!-- 初始的一行数据输入 -->
        <tr data-dropdown-id="1">
            <td><input type="text" class="layui-input" name="name"></td>
            <td><input type="text" class="layui-input" name="model"></td>
            <td><input type="text" class="layui-input" name="unitPrice"></td>
            <td><input type="text" class="layui-input" name="quantity"></td>
<!--            <td><input type="text" class="layui-input" name="price" readonly></td>-->
            <td>
                <button name="applyRemark" class="layui-input custom-input" id="ID-dropdown-demo-complex-1"></button>
                <input type="hidden" name="applyRemark" id="applyRemarkInput-1" value="">
            </td>
            <td><input type="text" class="layui-input storageDate" name="time"></td>
            <td><button class="layui-btn layui-btn-xs layui-btn-danger delete-row">删除</button></td>
        </tr>
        </tbody>
    </table>

    <button class="layui-btn" id="addRow">添加条目</button>
    <button class="layui-btn" id="submitAll">提交所有</button>
</div>
<script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/http_ajax.googleapis.com_ajax_libs_jquery_3.5.1_jquery.js" charset="utf-8"></script>
<script>
    let dropdownCount = 2;
    var dropDataSAB = [
        {
            title: 'SAB领用出库',
            child: [
                { title: '切断（圆锯机）' },
                { title: '切断（冷锯机）' },
                { title: '冲床' },
                { title: '生研GA' },
                { title: '生研CE' },
                { title: '刻印' },
                { title: 'N沟' },
                {
                    title: '单能线A-L',
                    child: [
                        { title: 'A线' },
                        { title: 'B线' },
                        { title: 'C线' },
                        { title: 'D线' },
                        { title: 'E线' },
                        { title: 'G线' },
                        { title: 'H线' },
                        { title: 'I线' },
                        { title: 'K线' },
                        { title: 'L线' }
                    ]
                },
                {
                    title: '单能线M-V',
                    child: [
                        { title: 'M线' },
                        { title: 'N线' },
                        { title: 'O线' },
                        { title: 'P线' },
                        { title: 'Q线' },
                        { title: 'R线' },
                        { title: 'S线' },
                        { title: 'T线' },
                        { title: 'U线' },
                        { title: 'V线' }
                    ]
                },
                { title: '磨刀房' },
                { title: '设备课' }
            ]
        },
        {
            title: '销售出库',
            child: [
                { title: '泰国旭' },
                { title: '日本旭' },
                { title: '合肥NSK' }
            ]
        }
    ];
    var dropDataZAB = [
        {
            title: 'ZAB领用工程',
            child: [
                { title: '切断（圆锯机）' },
                { title: '切断（冷锯机）' },
                { title: '切管' },
                { title: '冲床' },
                { title: '生研GA' },
                { title: '生研CE' },
                { title: '刻印' },
                { title: 'N沟' },
                {
                    title: '单能线A-E',
                    child: [
                        { title: 'A1线' },
                        { title: 'A2前线' },
                        { title: 'A2后线' },
                        { title: 'B1线' },
                        { title: 'B2线' },
                        { title: 'C1线' },
                        { title: 'C2线' },
                        { title: 'D1线' },
                        { title: 'D2线' },
                        { title: 'E线' },
                        { title: 'E1线' },
                        { title: 'E2线' }
                    ]
                },
                {
                    title: '单能线F-I',
                    child: [
                        { title: 'F线' },
                        { title: 'G线' },
                        { title: 'J线' },
                        { title: 'M线' },
                        { title: 'N线' },
                        { title: 'O线' },
                        { title: 'P线' },
                        { title: 'Q线' },
                        { title: 'R线' },
                        { title: 'I线' }
                    ]
                },
                {
                    title: '单能线T-W',
                    child: [
                        { title: 'TA线' },
                        { title: 'TB线' },
                        { title: 'UA线' },
                        { title: 'UB线' },
                        { title: 'VA线' },
                        { title: 'VB线' },
                        { title: 'WA线' },
                        { title: 'WB线' }
                    ]
                },
                {
                    title: '数控NC',
                    child: [
                        { title: '4#机' },
                        { title: '5#机' },
                        { title: '6#机' },
                        { title: '7#机' },
                        { title: '8#机' },
                        { title: '9#机' },
                        { title: '10#机' },
                        { title: '13#机' }
                    ]
                },
                { title: '检测' },
                { title: '磨刀房' },
                { title: '设备课' },
                { title: '金加工' },
                { title: '大修组' }
            ]
        },
        {
            title: '销售出库',
            child: [
                { title: '泰国旭' },
                { title: '日本旭' },
                { title: '合肥NSK' }
            ]
        }
    ];
    layui.use(['form', 'layer', 'table', 'laydate','upload','jquery'], function() {
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var $ = layui.jquery;
        var dropdown = layui.dropdown;
        var upload = layui.upload;

        function setParentForChild(data) {
            for (let i = 0; i < data.length; i++) {
                if (data[i].child) {
                    for (let j = 0; j < data[i].child.length; j++) {
                        data[i].child[j].parent = data[i];
                    }
                    setParentForChild(data[i].child);
                }
            }
        }
        function loadDepositoryDataForElem(elemSelector) {
            $.ajax({
                url: '/get_user_depository',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    var userDepositoryId = data.depositoryId;
                    var dropdownData = userDepositoryId === 1 ? dropDataSAB : dropDataZAB;
                    // 为传递的元素选择器设置父子关系
                    setParentForChild(dropdownData);
                    // 渲染下拉数据
                    dropdown.render({
                        elem: elemSelector,
                        data: dropdownData,
                        click: function(item) {
                            let path = item.title;
                            let currentItem = item;
                            while (currentItem.parent) {
                                path = currentItem.parent.title + "-" + path;
                                currentItem = currentItem.parent;
                            }
                            $(elemSelector).text(path);
                            const remarkInputSelector = elemSelector.replace(/ID-dropdown-demo-complex(-\d+)?$/, "applyRemarkInput$1");
                            $(remarkInputSelector).val(path);
                        }
                    });
                },
                error: function() {
                    layer.msg('无法获取用户的厂区信息');
                }
            });
        }
        $(document).ready(function() {
            loadDepositoryDataForElem('#ID-dropdown-demo-complex-1');
        });

        laydate.render({
            elem: '.storageDate',
        });
        $('#addRow').on('click', function() {
            dropdownCount++;
            var newRow = `<tr data-dropdown-id="${dropdownCount}">
                <td><input type="text" class="layui-input" name="name"></td>
                <td><input type="text" class="layui-input" name="model"></td>
                <td><input type="text" class="layui-input" name="unitPrice"></td>
                <td><input type="text" class="layui-input" name="quantity"></td>
                <td>
                    <button name="applyRemark" class="layui-input custom-input" id="ID-dropdown-demo-complex-${dropdownCount}"></button>
                    <input type="hidden" name="applyRemark" id="applyRemarkInput-${dropdownCount}" value="">
                </td>
                <td><input type="text" class="layui-input storageDate" name="time"></td>
                <td><button class="layui-btn layui-btn-xs layui-btn-danger delete-row">删除</button></td>
            </tr>`;
            $('#onceFillTable tbody').append(newRow);
            laydate.render({
                elem: $('#onceFillTable tbody tr:last .storageDate')[0], // 选择最后一个.storageDate元素
            });
            loadDepositoryDataForElem(`#ID-dropdown-demo-complex-${dropdownCount}`);
        });

        // 删除条目
        $('#onceFillTable').on('click', '.delete-row', function() {
            $(this).closest('tr').remove();
        });

        // 提交所有数据
        $('#submitAll').on('click', function() {
            var allData = [];
            console.log("All applyRemarkInput values before collecting data:");
            $('[id^="applyRemarkInput"]').each(function() {
                console.log($(this).attr('id') + ": " + $(this).val());
            });

            // 收集所有行数据
            $('#onceFillTable tbody tr').each(function() {
                var currentDropdownCount = $(this).data('dropdown-id');
                var row = {
                    name: $(this).find('input[name="name"]').val(),
                    model: $(this).find('input[name="model"]').val(),
                    unitPrice: $(this).find('input[name="unitPrice"]').val(),
                    quantity: $(this).find('input[name="quantity"]').val(),
                    price: $(this).find('input[name="price"]').val(),
                    applyRemark: $(this).find('#applyRemarkInput-' + currentDropdownCount).val(),
                    time: $(this).find('input[name="time"]').val(),
                };
                allData.push(row);
            });
            if (parseFloat(allData[0].unitPrice) <= 0 || parseInt(allData[0].quantity) <= 0) {
                layer.msg('请输入正确的单价与数量');
                return;
            }
            var loadingIndex = layer.load(1);

            // 发送所有数据到服务器
            fetch('/api/onceFill/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(allData)
            })
                .then(response => {
                    // 关闭加载动画
                    layer.close(loadingIndex);
                    if (response.ok) {
                        layer.msg('添加成功！');
                        // 清除所有输入框的内容
                        $('#onceFillTable tbody tr').each(function() {
                            $(this).find('input[type="text"], input[type="date"]').val('');
                            $(this).find('button[name="applyRemark"]').text('');
                            $(this).find('input[name="applyRemark"]').val('');
                        });
                    } else {
                        layer.msg('Error: ' + response.statusText);
                    }
                })
                .catch(error => {
                    // 关闭加载动画
                    layer.close(loadingIndex);
                    layer.msg('Error: ' + error.message);
                });

        });
    });
</script>
</body>
</html>
