<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.8.17/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
</head><link rel="stylesheet" type="text/css" href="/static/css/formSelects-v4.css"/>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="applyTime" id="date"  placeholder="请选择起止日期"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline" >
                            <div class="layui-input-inline" style="width: 120px;">
                                <select name="depositoryId" id="depositorySelect" lay-search>
                                    <!-- 初始值，稍后会根据用户信息进行更新 -->
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <select id="checkPass" name="checkPass">
                                    <option value="" selected>请选择结算状态</option>
                                    <option value="已核对开票">已核对开票</option>
                                    <option value="未核对开票">未核对开票</option> <!-- 新增 -->
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline" >
                            <label class="layui-form-label">供应商</label>
                            <div class="layui-input-inline">
                                <select name="checkRemark" id="checkRemarkF" lay-search>
                                    <option value="">请选择供应商</option>
                                    <th:block th:each="supplier : ${suppliers}">
                                        <option th:value="${supplier.supplierName}" th:text="${supplier.supplierName}"></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline" >
                            <div class="layui-input-inline">
                                <input type="text" name="atId" autocomplete="off" class="layui-input" placeholder="搜索AT号">
                            </div>
                        </div>
                        <div class="layui-inline" style="display: none">
                            <div class="layui-input-inline">
                                <input type="text" name="mname" autocomplete="off" class="layui-input" placeholder="搜索品名">
                            </div>
                        </div>
                        <div class="layui-inline" style="display: none">
                            <div class="layui-input-inline">
                                <input type="text" name="model" autocomplete="off" class="layui-input" placeholder="搜索规格">
                            </div>
                        </div>
                        <div class="layui-inline" style="display: none">
                            <div class="layui-input-inline">
                                <select id="state" name="state">
                                    <option value="" >请选择状态</option>
                                    <option value="已入库" selected>已入库</option>
                                    <option value="审核未通过">审核未通过</option>
                                    <option value="待审核">待审核</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">入库单号</label>
                            <div class="layui-input-inline">
                                <select name="reviewRemark" lay-search>
                                    <option value="">全部</option>
                                    <th:block th:each="item : ${ReviewRemarks}">
                                        <option th:value="${item}" th:text="${item}"></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline" style="display: none">
                            <label class="layui-form-label">入库类型</label>
                            <div class="layui-input-inline">
                                <select id="applyRemark" name="applyRemark">
                                    <option value="" selected>请选择</option>
                                    <option value="采购入库">采购入库</option>
                                    <option value="领用退回">领用退回</option>
                                    <option value="刀具内制入库">刀具内制入库</option>
                                </select>
                            </div>
                        </div>
                        <div style="width: 57%;display: none" >
                            <label class="layui-form-label">分类选择</label>
                            <select name="typeName" xm-select="selecttypeId">
                                <option th:each="material_type : ${materialTypes}" th:value="${material_type.getTname()}" th:text="${material_type.tname}" ></option>
                            </select>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn">
                                <i class="layui-icon"></i> 搜 索
                            </button>
                            <button type="button" class="layui-btn layui-btn-normal" id="batchUpdateBtn">
                                <i class="layui-icon">&#xe63c;</i> 生成入库单号
                            </button>
                        </div>


                    </div>
                </form>
            </div>
        </fieldset>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <!--                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加</button>-->
                <!--                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除</button>-->
            </div>
        </script>
        <div class="layui-hide" id="currentTableId" style="display: none;" lay-filter="currentTableFilter"></div>
    </div>
</div>
<script src="/static/lib/layui-v2.8.17/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/formSelects-v4.js" charset="utf-8"></script>
<script>
    var data;
    layui.use(['form', 'table','laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            laydate=layui.laydate;
        //日期
        laydate.render({
            elem: '#date',
            range: true,
            rangeLinked: true,
            shortcuts: [
                {
                    text: "上个月",
                    value: function(){
                        var value = [];
                        var date1 = new Date();
                        date1.setMonth(date1.getMonth() - 1);
                        date1.setDate(1);
                        date1.setHours(0, 0, 0, 0);
                        value.push(date1);
                        var date2 = new Date();
                        date2.setDate(1);
                        date2.setHours(0, 0, 0, 0);
                        date2 = date2.getTime() - 1;
                        value.push(new Date(date2));
                        return value;
                    }
                },
                {
                    text: "这个月",
                    value: function(){
                        var value = [];
                        var date1 = new Date();
                        date1.setDate(1);//1号
                        date1.setHours(0, 0, 0, 0);
                        value.push(date1);

                        var date2 = new Date();
                        date2.setMonth(date2.getMonth() + 1);
                        date2.setDate(0); // 设置为当前月的最后一天
                        date2.setHours(23, 59, 59, 999); // 设置为当天的最后一刻
                        value.push(date2);

                        return value;
                    }

                },
                {
                    text: "下个月",
                    value: function(){
                        var value = [];
                        var date1 = new Date();
                        date1.setMonth(date1.getMonth() + 1);
                        date1.setDate(1);
                        date1.setHours(0, 0, 0, 0);
                        value.push(date1);
                        var date2 = new Date();
                        date2.setMonth(date2.getMonth() + 2);
                        date2.setDate(1);
                        date2.setHours(0, 0, 0, 0);
                        date2 = date2.getTime() - 1;
                        value.push(new Date(date2));
                        return value;
                    }
                }
            ]
        });
        var userReviewGroupId;
        var userAuthority;
        var combined;

        //用户区分
        $.ajax({
            url: '/get_user_depository',
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                let pp;
                var userDepositoryId = data.depositoryId;
                var toolbarTemplate;
                var globalToolbarTemplate;
                userAuthority = data.authority;
                userReviewGroupId = data.review_group_id;
                let selectElem = document.getElementById('depositorySelect');
                if (userDepositoryId ===0 || userAuthority === '仅查看'){
                    selectElem.innerHTML =
                        '<option value="" selected>请选择厂区</option>'+
                        '<option value="1">SAB</option>' +
                        '<option value="2">ZAB</option>'
                }else if (userDepositoryId === 2) {
                    selectElem.innerHTML = '<option value="2">ZAB</option>';
                } else if (userDepositoryId === 1) {
                    selectElem.innerHTML = '<option value="1">SAB</option>';
                }
                layui.form.render('select');

                Promise.all([
                    fetch('/depositoryRecord?' + new URLSearchParams({
                        type: "1",
                        state: "已入库",
                        applyRemark: "采购入库"
                    })).then(res => res.json()),
                    fetch('/api/onceFill/list').then(res => res.json())
                ]).then(([res1, res2]) => {
                    let list1 = res1.data || [];
                    let list2 = res2.data || [];

                    // 统一一次性补录字段为入库记录格式
                    let mappedList2 = list2.map(item => ({
                        atId: '一次性',
                        id: item.id,
                        mname: item.name,
                        model: item.model,
                        price: item.unitPrice,
                        quantity: item.quantity,
                        applyTime: item.time,
                        applyRemark: item.applyRemark,
                        typeName: item.typeName,
                        depositoryId: item.depositoryId,
                        reviewerName: null,
                        reviewerId: null,
                        state: '已入库',
                        _source: '一次性补录'
                    }));

                    let mappedList1 = list1.map(item => ({
                        ...item,
                        _source: '入库记录'
                    }));

                     combined = mappedList1.concat(mappedList2);
                        console.log(combined);

                });
                table.render({
                    elem: "#currentTableId",
                    url: '/mergedDepository', // 直接调用后端分页接口
                    parseData: function (res) { //res 即为原始返回的数据
                        return {
                            "status": res.status, //解析接口状态
                            "message": res.statusInfo.message, //解析提示文本
                            "count": res.count, //解析数据长度
                            "data": res.data //解析数据列表
                        };
                    },
                    request: {
                        pageName: 'page', //页码的参数名称，默认：page
                        limitName: 'size' //每页数据量的参数名，默认：limit
                    },
                    response: {
                        statusName: 'status' //规定数据状态的字段名称，默认：code
                        ,statusCode: 200 //规定成功的状态码，默认：0
                        ,msgName: 'message' //规定状态信息的字段名称，默认：msg
                        ,countName: 'count' //规定数据总数的字段名称，默认：count
                        ,dataName: 'data' //规定数据列表的字段名称，默认：data
                    },
                    toolbar: '#toolbarDemo',
                    defaultToolbar: ['filter', 'exports', 'print'],
                    //这里layui和thymeleaf冲突了，要加个空格
                    height: "full-50", // 设置表格高度并固定表头
                    cols: [ [
                        // {type: "checkbox", width: 50},
                        {field: 'id', width: 60, title: 'ID',hide:true},
                        {field: 'depositoryId', title: '厂区ID', hide: true},
                        // {field: 'depositoryName', width: 60, title: '厂区'},
                        {field: 'atId', width: '5%', title: 'AT', sort: true},
                        {field: 'mname',width: '12%', title: '品名', sort: true},
                        {field: 'model', width: '10%', title: '规格', sort: true},
                        // {field: 'typeName',width: '18%', title: '分类'},
                        // {field: 'enginName', width:'10%', title: '工程'},
                        {field: 'quantity',  width: '5%', title: '数量', sort: true},
                        {field: 'price', title: '单价', width: '6%', templet: function(d) {
                                return parseFloat(d.price).toFixed(2);  // 格式化为两位小数
                            }},
                        {field: 'amount', title: '金额', width: '8%', templet: function(d) {
                                let quantity = parseFloat(d.quantity) || 0;
                                let price = parseFloat(d.price) || 0;
                                return (quantity * price).toFixed(2);
                            }, totalRow: true, sort: true},
                        // {field: 'applyRemark', title: '类型', width: '10%'},
                        {field: 'state', width:'5%', title: '流程',hide:true},
                        {field: 'checkRemark', width: 170, title: '供应商', sort: true},
                        {field: 'applyTime',title: '日期', width:'6%', sort: true, templet: function(d){
                                return formatDate(d.applyTime);
                            }},
                        {field: 'checkPass', width: 170, title: '结算状态', sort: true},
                        {field: 'reviewRemark', width:'8%', title: '入库单号'},
                        {
                            title: '操作',
                            minWidth: 200,
                            align: "center",
                            templet: function (row) {
                                // 如果该行已有入库单号，隐藏操作按钮
                                if (row.reviewRemark) {
                                    return ''; // 不渲染任何按钮
                                }
                                let buttons = '';
                                buttons += '<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">设为已核对</a>';
                                buttons += '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="clear">清空结算</a>';
                                // buttons += '<a class="layui-btn layui-btn-warm  layui-btn-  xs" lay-event="update">修改供应商</a>';
                                return buttons;
                            }
                        }
                    ]],
                    done: function(res, curr, count) {
                        var totalQuantity = res.data.reduce(function(sum, item) {
                            return sum + (parseFloat(item.quantity) || 0);
                        }, 0);

                        var totalAmount = res.data.reduce(function(sum, item) {
                            let quantity = parseFloat(item.quantity) || 0;
                            let price = parseFloat(item.price) || 0;
                            return sum + (quantity * price);
                        }, 0).toFixed(2);

                        var totalRow = document.querySelector('.layui-table-total');
                        if (totalRow) {
                            var quantityCell = totalRow.querySelector('td[data-field="quantity"] .layui-table-cell');
                            if (quantityCell) {
                                quantityCell.innerText = totalQuantity.toString();
                            }

                            var amountCell = totalRow.querySelector('td[data-field="amount"] .layui-table-cell');
                            if (amountCell) {
                                amountCell.innerText = totalAmount.toString();
                            }
                        }
                    },
                    limits: [10, 54, 100, 500, 100000],
                    limit: 54,
                    page: true,
                    totalRow: true,
                    skin: 'line'
                });

                function formatDate(dateStr) {
                    if (!dateStr) return '';
                    let date = new Date(dateStr);
                    let year = date.getFullYear();
                    let month = (date.getMonth() + 1).toString().padStart(2, '0');
                    let day = date.getDate().toString().padStart(2, '0');
                    return `${year}-${month}-${day}`;
                }
                // 监听搜索操作
                form.on('submit(data-search-btn)', function (data) {
                    var req={};
                    data=data.field;
                    req.type=1;
                    if (data.atId!==''){
                        req.atId=data.atId;
                    }
                    if (data.mname!==''){
                        req.mname=data.mname;
                    }
                    if (data.depositoryId!==''){
                        req.depositoryId=data.depositoryId;
                    }
                    if (data.model!==''){
                        req.model=data.model;
                    }
                    if (data.applyRemark!==''){
                        req.applyRemark=data.applyRemark;
                    }
                    if (data.typeName && data.typeName !== ''){
                        req.typeName = data.typeName.split(',');
                    }
                    if (data.checkRemark!==''){
                        req.checkRemark=data.checkRemark;
                    }
                    if (data.checkPass){
                        req.checkPass=data.checkPass;
                    }
                    if (data.applyTime!==''){
                        var dates = data.applyTime.split(' - ');
                        req.startDate = dates[0];
                        req.endDate = dates[1];
                    }
                    if (data.reviewRemark!==''){
                        req.reviewRemark=data.reviewRemark;
                    }
                    //执行搜索重载
                    table.reload('currentTableId', {
                        url: '/mergedDepository', // 直接调用后端分页接口
                        page: {
                            curr: 1
                        },
                        where: req
                    }, 'data');
                    return false;
                });
            },
            error: function() {
                // 处理错误，例如显示一个消息
                layer.msg('无法获取用户的厂区信息');
            }
        });

        $('#batchUpdateBtn').on('click', function () {
            const now = new Date();
            const yyyyMM = now.getFullYear().toString() + (now.getMonth() + 1).toString().padStart(2, '0');

            $.get('/invoice/getCurrentSequence?month=' + yyyyMM, function (currentSeq) {
                const previewInvoice = yyyyMM + '-' + (currentSeq + 1);

                layer.confirm(`将核对的项目生成 入库单号【${previewInvoice}】？`, { icon: 3, title: '提示' }, function (index) {
                    const invoiceNumber = previewInvoice;
                    const allData = layui.table.cache["currentTableId"] || [];

                    const normalIds = [];
                    const onceFillIds = [];

                    allData.forEach(row => {
                        if (row.atId === '一次性') {
                            onceFillIds.push(row.id);
                        } else {
                            normalIds.push(row.id);
                        }
                    });

                    const requests = [];

                    if (normalIds.length > 0) {
                        requests.push(
                            $.ajax({
                                url: "/depository/batchUpdateReviewRemark",
                                type: "POST",
                                contentType: "application/json",
                                data: JSON.stringify({
                                    invoiceNumber: invoiceNumber,
                                    ids: normalIds
                                })
                            })
                        );
                    }

                    if (onceFillIds.length > 0) {
                        requests.push(
                            $.ajax({
                                url: "/api/onceFill/OnceBatchUpdateReviewRemark",
                                type: "POST",
                                contentType: "application/json",
                                data: JSON.stringify({
                                    invoiceNumber: invoiceNumber,
                                    ids: onceFillIds
                                })
                            })
                        );
                    }

                    Promise.allSettled(requests).then(results => {
                        console.log(results);
                        let anySuccess = false;
                        let allFailed = true;

                        results.forEach(res => {
                            if (res.status === "fulfilled") {
                                const status = res.value?.status;
                                console.log("后端返回状态：", status);

                                if (status === 200) {
                                    anySuccess = true;
                                    allFailed = false;
                                } else if (status === 300) {
                                    // 无更新，也不算失败
                                    allFailed = false;
                                }
                            }
                        });

                        if (anySuccess) {
                            $.post('/invoice/getNextSequence', { month: yyyyMM }, function () {
                                layer.msg("设置成功");
                                layui.table.reload("currentTableId");
                            });
                        } else if (!allFailed) {
                            layer.msg("无需更新");
                        } else {
                            layer.msg("全部更新失败，请检查");
                        }
                    }).catch(() => {
                        layer.msg("网络错误，更新失败");
                    });
                    layer.close(index);
                });
            });
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '申请提交',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/application_in',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }
            else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                var req={};
                req.ids=[];
                for (i=0,len=data.length;i<len;i++){
                    req.ids[i]=data[i].id;
                }
                console.log(data.type);
                console.log(data.status);
                $.ajax({
                    url: '/depositoryRecord',
                    type: 'delete',
                    dataType:'json',
                    contentType: "application/json;charset=utf-8",
                    data:JSON.stringify(req),
                    beforeSend:function () {
                        this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                    },
                    success:function(data){
                        layer.close(this.layerIndex);
                        if(data.status >= 300){
                            layer.msg(data.statusInfo.message);//失败的表情
                            return;
                        }else{
                            layer.msg("删除成功", {
                                icon: 6,//成功的表情
                                time: 500 //1秒关闭（如果不配置，默认是3秒）
                            });
                            //执行搜索重载
                            table.reload('currentTableId', {
                                url: '/depositoryRecord',
                                page: {
                                    curr: 1
                                }
                            }, 'data');
                            return false;
                        }
                    }
                })
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            let data = obj.data;

            if (obj.event === 'edit') {
                if (!data.checkRemark || data.checkRemark.trim() === '') {
                    // 缺少供应商信息，弹出选择框
                    layer.open({
                        type: 1,
                        title: '请选择供应商',
                        area: ['400px', '200px'],
                        btn: ['确认', '取消'],
                        content: '<div style="padding: 20px;">' +
                            '<select id="supplierSelect" class="layui-select">' +
                            document.getElementById('checkRemarkF').innerHTML +
                            '</select>' +
                            '</div>',
                        yes: function(index) {
                            let selectedSupplier = document.querySelector('#supplierSelect').value;
                            if (!selectedSupplier || selectedSupplier.trim() === '') {
                                layer.msg('请选择供应商');
                                return;
                            }
                            sendUpdateCheckPass(data, selectedSupplier);
                            layer.close(index);
                        }
                    });
                } else {
                    layer.confirm("确认将该记录设为【已核对开票】？", {icon: 3, title: '提示'}, function(index){
                        sendUpdateCheckPass(data, data.checkRemark);
                        layer.close(index);
                    });
                }
            }
            else if (obj.event === 'update') {
                layer.open({
                    type: 1,
                    title: '修改供应商',
                    area: ['400px', '200px'],
                    btn: ['确认', '取消'],
                    content: '<div style="padding: 20px;">' +
                        '<select id="supplierSelect" class="layui-select">' +
                        document.getElementById('checkRemarkF').innerHTML +
                        '</select>' +
                        '</div>',
                    success: function(layero, index) {
                        // 设置默认选中当前供应商
                        if (data.checkRemark) {
                            document.querySelector('#supplierSelect').value = data.checkRemark;
                        }
                    },
                    yes: function(index) {
                        let selectedSupplier = document.querySelector('#supplierSelect').value;
                        if (!selectedSupplier || selectedSupplier.trim() === '') {
                            layer.msg('请选择供应商');
                            return;
                        }
                        sendUpdateCheckRemark(data, selectedSupplier);
                        layer.close(index);
                    }
                });
            }

            else if (obj.event === 'clear') {
                layer.confirm("确认清空该记录的结算状态？", {icon: 3, title: '提示'}, function(index){
                    let isOnceFill = data.atId === "一次性";
                    let url = isOnceFill ? "/api/onceFill/updateCheckPass" : "/depository/updateCheckPass";

                    $.ajax({
                        url: url,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({
                            id: data.id,
                            checkPass: ""
                        }),
                        success: function (res) {
                            if (res.status === 200) {
                                layer.msg("清空成功");
                                table.reload("currentTableId");
                            } else {
                                layer.msg("清空失败：" + res.message);
                            }
                        }
                    });

                    layer.close(index);
                });
            }
        });
        function sendUpdateCheckRemark(row, selectedCheckRemark) {
            let isOnceFill = row.atId === "一次性";
            let url = isOnceFill ? "/api/onceFill/updateCheckRemark" : "/depository/updateCheckRemark";

            let payload = {
                id: row.id,
                atId: row.atId,
                depositoryId: row.depositoryId,
                checkRemark: selectedCheckRemark?.trim()
            };

            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(payload),
                success: function (res) {
                    if (res.status === 200) {
                        layer.msg("供应商修改成功");
                        table.reload("currentTableId");
                    } else {
                        layer.msg("修改失败：" + res.message);
                    }
                }
            });
        }

        function sendUpdateCheckPass(row, selectedCheckRemark, reviewRemark = "") {
            let isOnceFill = row.atId === "一次性";
            let url = isOnceFill ? "/api/onceFill/updateCheckPass" : "/depository/updateCheckPass";

            let payload = {
                id: row.id,
                checkPass: "已核对开票",
                atId: row.atId,
                depositoryId: row.depositoryId,
                checkRemark: selectedCheckRemark?.trim()
            };

            if (reviewRemark && reviewRemark.trim() !== "") {
                payload.reviewRemark = reviewRemark.trim();
            }

            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(payload),
                success: function (res) {
                    if (res.status === 200) {
                        layer.msg("设置成功");
                        table.reload("currentTableId");
                    } else {
                        layer.msg("设置失败：" + res.message);
                    }
                }
            });
        }


    });
</script>

</body>
</html>